.App {
  text-align: center;
}

.App-header {
  padding: 15px 0;
  background: green;
}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
